// @TODO: Remove .example from filename and add your own configuration

interface AuthConfig {
  clientId: string;
  clientDomain: string;
  audience: string;
  redirect: string;
  scope: string;
  firebase: {
    apiKey: string;
    authDomain: string;
    databaseURL: string;
    projectId: string;
    storageBucket: string;
  };
}

export const AUTH: AuthConfig = {
  clientId: '<AUTH0_CLIENT_ID>',
  clientDomain: '<AUTH0_DOMAIN>', // e.g., you.auth0.com
  audience: '<AUTH0_API_AUDIENCE>', // e.g., http://localhost:1337/
  redirect: 'http://localhost:4200/callback',
  scope: 'openid profile email',
  firebase: {
    apiKey: '<FIREBASE_API_KEY>',
    authDomain: '<FIREBASE_PROJECT>.firebaseapp.com',
    databaseURL: 'https://<FIREBASE_PROJECT>.firebaseio.com',
    projectId: '<FIREBASE_PROJECT>',
    storageBucket: '<FIREBASE_PROJECT>.appspot.com'
  }
};

