<section *ngIf="auth.loggedInFirebase" class="comments py-3">
  <h2>Comments</h2>
  <app-loading *ngIf="!(comments$ | async)"></app-loading>
  <!--<ng-template [ngIf]="(comments$ | async)">-->
    <ul class="list-unstyled">
      <li *ngFor="let comment of comments$ | async" class="pt-1">
        <img [src]="comment.picture" class="avatar">
        <strong>{{ comment.user }}:</strong>
        <small class="text-info">{{ comment.timestamp | date:'short' }}</small>
        {{ comment.text }}
        <small>
          <a
            *ngIf="ownsComment(comment.uid)"
            class="text-danger"
            (click)="deleteComment(comment.uid)">Delete</a></small>
      </li>
    </ul>
    <app-comment-form (postComment)="onPostComment($event)"></app-comment-form>
  <!--</ng-template>-->
</section>
