// @TODO: Remove .example from filename and add your own configuration

interface FirebaseConfig {
  apiKey: string;
  authDomain: string;
  databaseURL: string;
  projectId: string;
  storageBucket: string;
  messagingSenderId: string;
}

const PROJECT_NAME = '<FIREBASE_PROJECT>';

export const FIREBASE: FirebaseConfig = {
  apiKey: '<FIREBASE_API_KEY>',
  authDomain: `${PROJECT_NAME}.firebaseapp.com`,
  databaseURL: `https://${PROJECT_NAME}.firebaseio.com`,
  projectId: PROJECT_NAME,
  storageBucket: `${PROJECT_NAME}.appspot.com`,
  messagingSenderId: '<FIREBASE_MESSAGING_SENDER_ID>'

};
