<ng-template [ngIf]="auth.loggedIn">
  <ng-template #loading>
    <app-loading></app-loading>
  </ng-template>

  <div *ngIf="dog$ | async; let dog; else loading">
    <h1 class="text-center">{{ getPageTitle(dog) }}</h1>
    <div class="text-center pt-2">
      <img [src]="dog.image">
      <p class="text-secondary">
        <em>{{ dog.group }} Group</em>
      </p>
    </div>
    <p [innerHTML]="dog.description"></p>
    <p class="text-center">
      <a class="btn btn-primary" [href]="dog.link">{{ dog.breed }} AKC Info</a>
    </p>
  </div>
</ng-template>
